* {
    font-family: 'Roboto';
}

.image-classifier {
    display: flex;
    flex-direction: column;

    .image-loader {
        display: inherit;
        flex-direction: inherit;
        
        .image-container { 
            flex-direction: row;
        }
    }

    .progress {
        margin: 1rem;
    }
}

#hidden-image-file-input {
    display: none;
}